

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(233, 233, 244);
    background-image: url(texture-background.jpg);
    background-repeat: repeat;   
    overflow-x: hidden; 
    scroll-behavior: smooth;
    background-blend-mode: screen;
    font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    align-items: center;
}

nav .logo-nav{
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-left: 5%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 70vh;
    justify-content: space-between;  
    margin-left: 100vh;
}

nav ul li:hover{
    color: white;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 5px;
    color: black;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    background-color: rgb(233, 233, 244);
}

.menu-toggle input {
    position: absolute;
    width: 30px;
    height: 27px;
    right: -2px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(152, 152, 173);
    border-radius: 3px;
    transition: all 0.5s;
}

/*Hamburger Menu Animation*/
.menu-toggle :nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle :nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}

.landing-img {
    height: 590px;
    width: 750px;
    justify-content: space-evenly;
    z-index: -1;
}

.landing-page{
    padding: 70px 70px;
    display: flex;
}

.h1-landing{
    padding-top: 50px;
    font-size: 64px;
    font-weight: bolder;
}

.h1-landing span{
    font-size: 86px;
    color: rgb(45, 34, 158);
}
.content{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 50px ;
    text-align: start;
    font-size: large;
}

/* Desktop*/
@media screen and (max-width: 1280px){
    nav ul{
        width: 50vh;
    }
    nav .logo-nav{
        width: 70vh;
    }
    
}

/* Tablet display*/
@media screen and (max-width: 768px){
    nav ul{
        position: relative;
        width: fit-content;
    }

    nav .logo-nav{
        width: 5vh;
    }

    .landing-img{
        height: 300px;
        width: 350px;
    }

    .content{
        size: 50%;
    }

    .h1-landing{
        margin-top: 500px;
        margin-right: 500px;
    }
}

/* Mobile display*/
@media screen and (max-width: 576px){
    .menu-toggle{
        display: flex;
        left: 350px;
        background-blend-mode: screen;
        background-color: rgb(233, 233, 244);
    }

    .logo-nav {
        transform: scale(0.8);
        align-items: flex-start;
    }

    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        z-index: -1;
        transform: translateX(70%);
        transition: all 0.5s;
        font-size: large;
        background-color: rgb(174, 174, 202);
    }

    nav ul.slide{
        transform: translateX(0) scale(0);
    }

  
}

